# HomeWork 2

### Question 1

In [1]:
# import all necessary modules
import pandas as pd
import numpy as np
import os
import re

In [2]:
# load the energy data
cwd = os.getcwd()
file_name = "Energy_Indicators.xls"
with pd.ExcelFile(os.path.join(cwd, file_name)) as xls:
    energy = xls.parse(usecols=[2, 3, 4, 5], skiprows=17, skipfooter=38, \
                   names=["Country", "Energy Supply", "Energy Supply per capita", "% Renewable"])

In [3]:
# convert "Energy Supply" to gigajoules, np.NaN instead "..." values
for index, row in energy.iterrows():
    if not energy.loc[index, 'Energy Supply'] == '...':
        energy.loc[index, 'Energy Supply'] *= 1000000
    else:
        energy.loc[index, 'Energy Supply'] = np.NaN

In [4]:
# Rename the list of countries
# Also we can use regex to delete digits after name of country
energy = energy.replace(['Republic of Korea', 'United States of America20', 'United Kingdom of Great Britain \
and Northern Ireland19', 'China, Hong Kong Special Administrative Region3', 'China2', 'Japan10', "France6", 
                         "Italy9", "Iran (Islamic Republic of)", "Australia1", "Spain16"], 
                        ['South Korea', 'United States', 'United Kingdom', 'Hong Kong', 'China', 'Japan', 
                         "France", "Italy", "Iran", "Australia", "Spain"])

In [5]:
# Replace some wrong countrie's names
energy = energy.replace(['Bolivia (Plurinational State of)', 'Switzerland17'],['Bolivia','Switzerland'])

In [6]:
# chekin for replace
energy.loc[energy['Country']=='China']

   Country  Energy Supply Energy Supply per capita  % Renewable
42   China   1.271910e+11                       93     19.75491

In [7]:
# loading GDP data from the file
cwd = os.getcwd()
file_name = 'GDP.csv'
path_file = os.path.join(cwd, file_name)
GDP = pd.read_table(path_file, skiprows=4, delimiter=',')
GDP.rename(columns={'Country Name':'Country'}, inplace=True);
GDP.axes

[RangeIndex(start=0, stop=264, step=1),
 Index(['Country', 'Country Code', 'Indicator Name', 'Indicator Code', '1960',
        '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
        '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
        '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
        '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
        '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
        '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
        '2015', '2016', '2017', 'Unnamed: 62'],
       dtype='object')]

In [8]:
# renaming some countries in GDP
GDP = GDP.replace(["Korea, Rep.", 'Iran, Islamic Rep.', 'Hong Kong SAR, China'], 
                        ['South Korea', 'Iran', 'Hong Kong'], regex=True)

In [9]:
GDP.loc[GDP['Country']=='Hong Kong']

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
94,Hong Kong,HKG,GDP (current US$),NY.GDP.MKTP.CD,1.320797e+09,1.383682e+09,1.612346e+09,1.935298e+09,2.206466e+09,2.435079e+09,...,2.140464e+11,2.286377e+11,2.485136e+11,2.626294e+11,2.756969e+11,2.914594e+11,3.093836e+11,3.208812e+11,3.414493e+11,NaN

In [10]:
# load Sciamgo Journal and Country Rank data
cwd = os.getcwd()
file_name = "scimagojr.xlsx"
with pd.ExcelFile(os.path.join(cwd, file_name)) as xlsx:
    ScimEn = xlsx.parse()

In [11]:
# some import information for me (actually no)
print(ScimEn.columns)
print(energy.columns)
print()
GDP = GDP.rename({'Country Name':'Country'}, axis='columns')
print(GDP.columns)

Index(['Rank', 'Country', 'Documents', 'Citable documents', 'Citations',
       'Self-citations', 'Citations per document', 'H index'],
      dtype='object')
Index(['Country', 'Energy Supply', 'Energy Supply per capita', '% Renewable'], dtype='object')

Index(['Country', 'Country Code', 'Indicator Name', 'Indicator Code', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', 'Unnamed: 62'],
      dtype='object')

In [12]:
# Creating resulted dataframe for question 1 and answer_one() function declaration
def answer_one():
    dataset = pd.merge(ScimEn, energy, on='Country', how='outer')
    dataset = pd.merge(dataset, GDP, on='Country', how='outer')
    dataset = dataset.loc[0:14, ['Country', 'Rank', 'Documents', 'Citable documents', 'Citations', 
                                 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 
                                 'Energy Supply per capita', '% Renewable', '2006', '2007', '2008', '2009',
                                 '2010', '2011', '2012', '2013', '2014', '2015']]
    dataset = dataset.set_index('Country')
    dataset = dataset.sort_values(['Rank'])
    dataset.Rank = dataset.Rank.astype(int)
    return dataset

In [13]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,167992.0,167369.0,1057626.0,722578.0,6.30,176.0,1.271910e+11,93,19.754910,2.752132e+12,3.552182e+12,4.598206e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106467e+13
United States,2,126158.0,123332.0,1296212.0,444998.0,10.27,278.0,9.083800e+10,286,11.570980,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.742761e+13,1.812071e+13
Japan,3,37948.0,37612.0,316956.0,85620.0,8.35,155.0,1.898400e+10,149,10.232820,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.394978e+12
United Kingdom,4,28998.0,28176.0,335914.0,64609.0,11.58,170.0,7.920000e+09,124,10.600470,2.692613e+12,3.074360e+12,2.890564e+12,2.382826e+12,2.441173e+12,2.619700e+12,2.662085e+12,2.739819e+12,3.022828e+12,2.885570e+12
India,5,24872.0,24300.0,215787.0,68150.0,8.68,141.0,3.319500e+10,26,14.969080,9.203165e+11,1.201112e+12,1.186953e+12,1.323940e+12,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.102391e+12
Germany,6,24407.0,23963.0,231800.0,48820.0,9.50,151.0,1.326100e+10,165,17.901530,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.890607e+12,3.375611e+12
Russian Federation,7,23361.0,23196.0,55495.0,22485.0,2.38,69.0,3.070900e+10,214,17.288680,9.899305e+11,1.299705e+12,1.660844e+12,1.222644e+12,1.524916e+12,2.051662e+12,2.210257e+12,2.297128e+12,2.063663e+12,1.368401e+12
Canada,8,22908.0,22465.0,332093.0,62436.0,14.50,177.0,1.043100e+10,296,61.945430,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613464e+12,1.788648e+12,1.824289e+12,1.842628e+12,1.799269e+12,1.559623e+12
France,9,17569.0,17230.0,203486.0,43210.0,11.58,139.0,1.059700e+10,166,17.020280,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12
South Korea,10,16004.0,15848.0,176965.0,34607.0,11.06,124.0,1.100700e+10,221,2.279353,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12
Italy,11,15880.0,15411.0,184184.0,45471.0,11.60,127.0,6.530000e+09,109,33.667230,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.832868e+12
Iran,12,13131.0,12983.0,119550.0,39184.0,9.10,94.0,9.172000e+09,119,5.707721,2.662989e+11,3.498816e+11,4.060709e+11,4.140591e+11,4.870696e+11,5.835004e+11,5.988534e+11,4.674149e+11,4.344746e+11,3.858745e+11
Brazil,13,12705.0,12559.0,99136.0,24398.0,7.80,103.0,1.214900e+10,59,69.648030,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455994e+12,1.802214e+12
Australia,14,12635.0,12397.0,157471.0,27620.0,12.46,131.0,5.386000e+09,231,11.810810,7.455219e+11,8.519628e+11,1.052585e+12,9.264482e+11,1.144261e+12,1.394281e+12,1.543411e+12,1.573697e+12,1.464955e+12,1.349034e+12
Spain,15,12478.0,12270.0,195663.0,36353.0,15.68,138.0,4.923000e+09,106,37.968590,1.264551e+12,1.479342e+12,1.635015e+12,1.499100e+12,1.431617e+12,1.488067e+12,1.336019e+12,1.361854e+12,1.376911e+12,1.197790e+12

### Question 2

In [14]:
def answer_two():
    dataset = answer_one()
    avgGDP = pd.Series()
    for index, row in dataset.iterrows():
        CountrySeries = row['2006':'2015']
        # function mean() dropps missing data 
        avgGDP = avgGDP.append(pd.DataFrame([CountrySeries.mean(axis=0, skipna=True)]))
    avgGDP.columns = ['Average GDP']
    avgGDP.index = [dataset.index]
    return avgGDP

In [15]:
answer_two()

                     Average GDP
Country
China               6.940046e+12
United States       1.563482e+13
Japan               5.177681e+12
United Kingdom      2.741154e+12
India               1.593787e+12
Germany             3.535028e+12
Russian Federation  1.668915e+12
Canada              1.612860e+12
France              2.687371e+12
South Korea         1.165810e+12
Italy               2.131084e+12
Iran                4.393498e+11
Brazil              1.988885e+12
Australia           1.204616e+12
Spain               1.407027e+12

### Question 3

In [16]:
def answer_three():
    avgGDP = answer_two()
    data = answer_one()
    # we reset indexes in order to concat DataFrames
    # there is some interesting behavior of join and concat
    indexes = data.index
    data = data.reset_index(drop=True)
    avgGDP = avgGDP.reset_index(drop=True)
    data = data.join(avgGDP)
    data.index = [indexes]
    data = data.sort_values(by='Average GDP')
    CountryFrame = pd.DataFrame(data.iloc[5])
    change_span = CountryFrame.loc['2015'] - CountryFrame.loc['2006']
    return float(change_span)

In [17]:
print('%.6e'% (answer_three()))

2.442082e+11

### Question 4

In [18]:
def answer_four():
    df = answer_one()
    df['Ratio'] = df['Self-citations']/df['Citations']
    max_val = df.loc[df['Ratio'].idxmax()]
    return (max_val.name, max_val['Ratio'])

In [19]:
answer_four()

('China', 0.6832074854438147)

### Question 5

In [20]:
def answer_five():
    df = answer_one()
    df['Population'] = df['Energy Supply']/df['Energy Supply per capita']
    df = df.sort_values(by='Population')
    popul = pd.DataFrame(df.iloc[2])
    return str(int(popul.loc['Population'].item()))

In [21]:
answer_five()

'46443396'

### Question 6

In [22]:
def answer_six():
    df = answer_one()
    df['Population'] = df['Energy Supply']/df['Energy Supply per capita']
    df['Citable Documents per Person'] = df['Citations per document']/df['Population']
    
    # we need transform type of columns in order to use corr
    df = df[['Citable Documents per Person', 'Energy Supply per capita']].astype('float')
    corr = df['Citable Documents per Person'].corr(df['Energy Supply per capita'])
    return corr

In [23]:
answer_six()

0.4262804029906746

### Question 7

In [24]:
def answer_seven():
    df = answer_one()
    df['Population'] = df['Energy Supply']/df['Energy Supply per capita']
    ContinentDict  = {'China':'Asia',
                  'United States':'North America',
                  'Japan':'Asia',
                  'United Kingdom':'Europe',
                  'Russian Federation':'Europe',
                  'Canada':'North America',
                  'Germany':'Europe',
                  'India':'Asia',
                  'France':'Europe',
                  'South Korea':'Asia',
                  'Italy':'Europe',
                  'Spain':'Europe',
                  'Iran':'Asia',
                  'Australia':'Australia',
                  'Brazil':'South America'}
    ds_size = df.groupby(by=ContinentDict, axis=0).size()
    df = df['Population'].astype(int)
    ds_sum = df.groupby(by=ContinentDict, axis=0).sum()
    ds_mean = df.groupby(by=ContinentDict, axis=0).mean()
    ds_std = df.groupby(by=ContinentDict, axis=0).std()
    df2 = pd.DataFrame(ds_size, columns=['Size'])
    df2 = df2.join(ds_sum, rsuffix='_sum')
    df2 = df2.join(ds_mean, rsuffix='_mean')
    df2 = df2.join(ds_std, rsuffix='_std')
    df2.columns = ['Size', 'Sum', 'Mean', 'Std']
    return df2

In [25]:
answer_seven()

               Size         Sum          Mean           Std
Asia              5  2898666384  5.797333e+08  6.790979e+08
Australia         1    23316017  2.331602e+07           NaN
Europe            6   457929664  7.632161e+07  3.464767e+07
North America     2   352855248  1.764276e+08  1.996696e+08
South America     1   205915254  2.059153e+08           NaN